.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Header Header Header Header" "History Form Form Form" "History Form Form Form" "History Results Results Results" "History Results Results Results";
}

.Header { grid-area: Header; }

.History { grid-area: History; }

.Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 2.5fr;
  gap: 1px 1px;
  grid-template-areas: "RadioGroup RadioGroup RadioGroup RadioGroup RadioGroup" "url url url url button" "body body headers headers headers";
  grid-area: Form;
}

.RadioGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-area: RadioGroup;
}

.radioButton {
  input[type="radio"] {
  width: 0;
  opacity: 0;
  margin: 0;
  }

  label {
    width: 1fr;
    height: 100%;
  }

  input[type="radio"] + label {
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
  }

  input[type="radio"]:hover + label {
    background: rgb(223, 171, 76);
  }

  input[type="radio"]:checked + label {
    background: #FFF;
    border-bottom: 1px solid transparent;
  }
}

.url { grid-area: url; }

.button { grid-area: button; }

.body { grid-area: body; }

.headers { 
  grid-area: headers;
  border: solid 1px rgb(211, 211, 211);
}

.Results { grid-area: Results; }