* {
  box-sizing: border-box;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.3fr 1.2fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Header Header Header Header" "History Form Form Form" "History Results Results Results" "History Results Results Results";
}

.Header { 
  grid-area: Header;
}

.Form { 
  grid-area: Form;

  .formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 2.3fr;
    gap: 1px 1px;
    grid-template-areas: "radioGroup radioGroup radioGroup radioGroup" "url url url button" "body body headers headers";
  }
  
  .radioGroup { 
    grid-area: radioGroup;
    margin-bottom: 50px;
  }

  .radioButton {
    width: 15%;
    margin: 0;
  }
  
  .body { 
    grid-area: body;
  }
  
  .headers { 
    grid-area: headers;
  }
  
  .url { 
    grid-area: url;
  }
  
  .button { 
    grid-area: button;
  }
}

.Results { 
  grid-area: Results;
}

.History { 
  grid-area: History;
}