html {
  background: #212121;
}

.belt {
  background-color: #fac402;
  height: 25px;
  width: 100%;
}

.mainGrid {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20vh 1fr 1fr;
  grid-row-gap: 7px;
  gap: 1px 3px;
  grid-template-areas: "Header Header Header Header" "History Form Form Form" "History Results Results Results";
  align-items: start;
}

.Header { 
  grid-area: Header;
  background: #212121;
  color: #fac402;

  h3 {
    color: #646464;
  }
}

.History { 
  grid-area: History;
  background-color: white;
  overflow: scroll;
  height: 50vh; 
}

.Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 2.5fr;
  gap: 1px 1px;
  grid-template-areas: "RadioGroup RadioGroup RadioGroup RadioGroup RadioGroup" "url url url url button" "body body headers headers headers";
  grid-area: Form;
  max-height: 75vh;
}

.RadioGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-area: RadioGroup;
}

.radioButtons {
  position: relative;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-items: center;
}

.radioButton {
  input[type="radio"] {
  width: 0;
  opacity: 0;
  }

  input[type="radio"] + label {
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
  }

  input[type="radio"]:hover + label {
    background: #f5dd41;
  }

  input[type="radio"]:checked + label {
    background: rgb(240, 179, 11);
    border-bottom: 1px solid transparent;
  }
}

.url { grid-area: url; }

.button { grid-area: button; }

.body { grid-area: body; }

.headers { 
  grid-area: headers;
  border: solid 1px rgb(211, 211, 211);
  background: #FFFFFF;
}

.Results { 
  grid-area: Results;
  height: 75vh;
  overflow: scroll;
}